services:
  web:
    build:
      context: .
      dockerfile: app/Dockerfile
    entrypoint: /home/rec_shop/entrypoint.sh
    ports:
      - 8000:8000
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .docker.env
  redis:
    image: redis:7-alpine
    restart: always

  worker:
    build:
      context: .
      dockerfile: app/Dockerfile
    command: celery -A app.utils.celery_tasks:celery_app worker --loglevel=info
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data:

networks:
  default:
    external: true
    name: glitchtip_default