services:
  web:
    build:
      context: .
      dockerfile: app/Dockerfile
    entrypoint: /home/rec_shop/entrypoint.sh
    ports:
      - 8000:8000
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  flower:
    build:
      context: .
      dockerfile: app/Dockerfile
    command: celery -A app.utils.celery_tasks:celery_app flower --port=5555
    ports:
      - 5555:5555
    env_file:
      - .docker.env
    depends_on:
      - redis
      - worker

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .docker.env
  redis:
    image: redis:7-alpine
    restart: always

  worker:
    build:
      context: .
      dockerfile: app/Dockerfile
    command: celery -A app.utils.celery_tasks:celery_app worker --loglevel=info
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data:
  grafana_data:

networks:
  default:
    external: true
    name: glitchtip_default