services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .docker.env
    volumes:
      - pg_data:/var/lib/postgresql/data

  worker:
    image: glitchtip/glitchtip
    command: ./bin/run-celery.sh
    restart: unless-stopped
    env_file:
      - .docker.env
    depends_on:
      - db
      - redis

volumes:
  pg_data:
  uploads:
